* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background: #8a2be2;
}

.App__box {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}
.App__error {
  color: red;
}
.App__loading {
  font-size: larger;
  color: #8a2be2;
}
.App__quote {
  display: flex;
  font-size: 30px;
  color: #8a2be2;
}
.App__reference {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
  color: #8a2be2;
  align-items: center;
  gap: 1em;
}
.App__category {
  text-transform: capitalize;
}
.App__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10rem;
  justify-content: space-between;
}

.App__tweet {
  width: 30px;
  fill: #8a2be2;
}

.App__newquote {
  background: #8a2be2;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
